/* Desktop First */
/*
.title { font-size: 18px; }

@media (max-width: 1023px) {
  .title { font-size: 16px; }
  .container {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .title { font-size: 14px; }
  .container {
    width: 100%;
  }
}

@media (max-width: 639px) {
  .title { font-size: 12px; }
  .container {
    width: 100%;
  }
}
*/
@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
}
BODY {
	
	/*background-color: #fcfcfc;*/
}
.container-header {
	width: 1080px;
	height: 140px;
	margin: 0 auto;
	background-color: #2e2e2e;
}
.header {
	width: 1080px;
	height: 20px;
	margin: 0 auto;
	display: grid;
}

.header a {
	font-size: 0.75em;
	text-decoration: none;
	color: black;
}

.header1 {
	grid-column: 1;
	text-align: start;
	margin-left: 10px;
}
.header2 {
	grid-column: 2;
	text-align: end;
	margin-right: 10px;
}
.header1 a, .header2 a {
	color: #F0EDFD;
}
.container-footer {
	width: 1080px;
	height: 170px;
	margin: 0 auto;
	vertical-align: middle;
	background-color: #2e2e2e;
}
.footer {
	width: 1080px;
	height: 70px;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
	vertical-align: middle;
	font-size: 0.75em;
	text-decoration: none;
}

/* 상단 메인 메뉴 */
.container-mainmenu {
	width: 1080px;
	height: 50px;
	margin: 0 auto;
	margin-top: 30px;
	display: grid;
	grid-template-columns: auto auto auto 220px auto auto auto;
	/*grid-template-columns: repeat(7, 1fr);*/
	place-items: center;
	place-content: space-around;
	/* border: 1px solid white; */
	/* border-bottom: 1px solid black; */
}

.container-mainmenu a {
	font-size: 1.1em;
	font-weight: 400;
	text-decoration: none;
	color: #6a51ef;
}

.mainmenu-1 {
	grid-column: 1;
	/* border: 1px solid white; */
}

.mainmenu-2 {
	grid-column: 2;
	/* border: 1px solid white; */
}

.mainmenu-3 {
	grid-column: 3;
	/* border: 1px solid white; */
}

.mainmenu-4 {
	grid-column: 4;
	/* border: 1px solid white; */
}

.mainmenu-5 {
	grid-column: 5;
	/* border: 1px solid white; */
}

.mainmenu-6 {
	grid-column: 6;
	/* border: 1px solid white; */
}

.mainmenu-7 {
	grid-column: 7;
	/* border: 1px solid white; */
}

/* 메인 -> 로그인 */
.container-login {
	width: 1080px;
	height: 800px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	border: 1px solid;
}

.login {
	margin-top: 100px;
	font-size: 2em;
	font-weight: 500;
	text-align: center;
}

.container-loginMenu {
	width: 800px;
	height: 50px;
	margin: 0 auto;
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-items: center;
	border: 1px solid;
}

.container-loginMenu a {
	font-size: 1em;
	text-decoration: none;
	color: black;
}

.loginmenu-member {
	grid-column: 1;
}

.loginmenu-nonmember {
	grid-column: 2;
}

.container-loginForm {
	width: 800px;
	height: 400px;
	margin: 0 auto;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
}

/* 회원 로그인 */
.memberLoginForm {
	width: 300px;
	height: 150px;
	margin: 0 auto;
	margin-top: 80px;
	display: grid;
	align-items: center;
}

.member-id {
	grid-row: 1;
}

.member-password {
	grid-row: 2;
}

.member-login-button {
	grid-row: 3;
}

.Search-Signup-Check {
	width: 250px;
	margin: 0 auto;
	margin-top: 30px;
	display: grid;
	align-items: center;
	justify-content: space-around;
}

.Search-Signup-Check a {
	font-size: 0.75em;
	text-decoration: none;
	color: black;
}

.SSC-1 {
	grid-column: 1;
}

.SSC-2 {
	grid-column: 2;
}

.SSC-3 {
	grid-column: 3;
}

.link-login {
	width: 250px;
	margin: 0 auto;
	margin-top: 30px;
	display: grid;
	align-items: center;
	justify-content: space-evenly;
}
.link-login a {
	font-size: 0.75em;
	text-decoration: none;
	color: black;
}
.link-login-1 {
	grid-column: 1;
}
.link-login-2 {
	grid-column: 2;
}
.link-login-3 {
	grid-column: 3;
}


/* 비회원 로그인 */
.nonmemberLoginForm-0 {
	width: 740px;
	height: 350px;
	margin: 0 auto;
	margin-top: 30px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-row: auto auto;
	column-gap: 20px;
	row-gap: 20px;
}

.nonmemberLoginForm-1 {
	grid-row: 1;
	grid-column: 1;
	display: grid;
	grid-template-columns: 30vw, 70vw;
	grid-template-rows: repeat(5, 1fr);
	align-items: center;
	justify-content: space-around;
}

.nonmemberLoginForm-2 {
	grid-row: 1;
	grid-column: 2;
	padding: 10px;
	vertical-align: middle;
}

.nonmember-login-button {
	grid-row: 2/3;
	grid-column: 1/3;
	width: 100%;
	height: 100%;
	padding-top: 10px;
	text-align: center;
	vertical-align: middle;
}
.nonmember-name-1 {
	grid-row: 1;
	grid-column: 1;
}

.nonmember-name-2 {
	grid-row: 1;
	grid-column: 2;
}

.nonmember-phone-1 {
	grid-row: 2;
	grid-column: 1;
}

.nonmember-phone-2 {
	grid-row: 2;
	grid-column: 2;
}

.nonmember-birth-1 {
	grid-row: 3;
	grid-column: 1;
}

.nonmember-birth-2 {
	grid-row: 3;
	grid-column: 2;
}

.nonmember-password-1 {
	grid-row: 4;
	grid-column: 1;
}

.nonmember-password-2 {
	grid-row: 4;
	grid-column: 2;
}

.nonmember-passwordcheck-1 {
	grid-row: 5;
	grid-column: 1;
}

.nonmember-passwordcheck-2 {
	grid-row: 5;
	grid-column: 2;
}


/* 메인 -> 회원가입 */
.container-register {
	width: 1080px;
	height: 1500px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	border: 1px solid;
}
.register {
	width: 1080px;
	margin-top: 100px;
	font-size: 2em;
	font-weight: 500;
	text-align: center;
}
.register-1 {
	width: 770px;
	margin: 0 auto;
	margin-top: 50px;
	font-weight: 600;
}
.register-1 hr {
	border: 1.2px solid;
}
.registerForm-1 {
	width: 770px;
	margin: 0 auto;
	margin-top: 10px;
	border-collapse: collapse;
}
.registerForm-1 td:nth-child(1) {
	padding: 10px;
	width: 220px;
	vertical-align: middle;
}
.registerForm-1 td:nth-child(2) {
	padding: 10px;
	width: 550px;
	vertical-align: middle;
}
.registerForm-1 tr:nth-child(3) td, .registerForm-1 tr:nth-child(6) td,
.registerForm-1 tr:nth-child(8) td, .registerForm-1 tr:nth-child(11) td {
	padding-bottom: 0px;
}
.registerForm-1 tr:nth-child(4) td, .registerForm-1 tr:nth-child(7) td,
.registerForm-1 tr:nth-child(9) td, .registerForm-1 tr:nth-child(12) td {
	padding-top: 2px;
	padding-left: 12px;
}
.register-infor {
	color: #212529;
	font-size: 0.8em;
}
.registerForm-2 {
	width: 770px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border-collapse: collapse;
}
.registerForm-2 tr:nth-child(1) td:nth-child(1) {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 350px;
}
.registerForm-2 td:nth-child(2) {
	width: 150px;
	text-align: right;
}
.registerForm-2 tr:nth-child(2) td:nth-child(1) {
	padding: 10px;
	width: 350px;
}
.registerForm-2 tr:nth-child(2) {
	border: 1px solid;
}
.register-button {
	width: 600px;
	height: 100px;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}
#idcheck-message {
	font-size: 0.85em;
	padding-left: 5px;
}
#pwcheck-message {
	font-size: 0.85em;
	padding-left: 5px;
}

/* 아이디찾기/비밀번호찾기 */
.container-find {
	width: 1080px;
	height: 800px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	border: 1px solid;
}
.find {
	margin-top: 100px;
	font-size: 2em;
	font-weight: 500;
	text-align: center;
}
.container-findidpw {
	width: 800px;
	height: 50px;
	margin: 0 auto;
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-items: center;
	border: 1px solid;
}
.container-findidpw a {
	font-size: 1em;
	text-decoration: none;
	color: black;
}
.findmenu-id {
	grid-column: 1;
}
.findmenu-pw {
	grid-column: 2;
}
.container-findForm {
	width: 800px;
	height: 400px;
	margin: 0 auto;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
}


/* 아이디 찾기 */
.findIdForm {
	height: 150px;
	margin: 0 auto;
	margin-top: 80px;
	border-collapse: collapse;
}
.findIdForm td:nth-child(1) {
	width: 125px;
}
.findIdForm td:nth-child(2) {
	width: 250px;
}
.find-idpw-button {
	width: 400px;
	margin: 0 auto;
	margin-top: 40px;
	text-align: center;
}


/* 비밀번호 찾기 */
.findPwForm {
	height: 200px;
	margin: 0 auto;
	margin-top: 80px;
	border-collapse: collapse;
}
.findPwForm td:nth-child(1) {
	width: 125px;
}
.findPwForm td:nth-child(2) {
	width: 250px;
}


/* 비회원 예매확인 */
.container-nonmemberReservationCheck {
	width: 1080px;
	height: 800px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	border: 1px solid;
}
.reservationCheck {
	margin-top: 100px;
	font-size: 2em;
	font-weight: 500;
	text-align: center;
}
.container-reservationCheckForm {
	width: 800px;
	height: 500px;
	margin: 0 auto;
	margin-top: 50px;
	border: 1px solid black;
}
.reservationCheckForm {
	height: 200px;
	margin: 0 auto;
	margin-top: 80px;
	border-collapse: collapse;
}
.reservationCheckForm td:nth-child(1) {
	width: 125px;
}
.reservationCheckForm td:nth-child(2) {
	width: 250px;
}
.before-click-nrc-button {
	width: 400px;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 0.9em;
	font-weight: 500;
}
.nonmember-reservation-check-button {
	width: 400px;
	margin: 0 auto;
	margin-top: 40px;
	text-align: center;
}


/* 비회원 예매확인 -> 팝업창(비회원 예매확인) */
.popup-nonmember-reservation {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	width: 400px;
	height: 600px;
}
.nonmemberReservation {
	width: 100%;
	height: 100%;
	border: 1px solid black;
}
.nonmemberReservation td {
	text-align: center;
	vertical-align: middle;
}
.nonmemberReservation td:nth-child(1) {
	width: 30%;
	border: 1px solid black;
}
.nonmemberReservation td:nth-child(2) {
	width: 70%;
	border: 1px solid black;
}


/* 영화 */
.container-movie {
	width: 1080px;
	height: 2000px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	border: 1px solid;
}
.movie {
	margin-top: 50px;
	font-size: 2em;
	font-weight: 500;
}


/* 영화관 */
.container-theater {
	width: 1080px;
	height: 2000px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	border: 1px solid;
}
.theater {
	margin-top: 50px;
	font-size: 2em;
	font-weight: 500;
}

/* 영화관 지역/지점 메뉴 */
.container-theaterMenu {
	width: 100%;	
	position: relative;
}
.theaterMenu {
	width: 100%;
	margin: 0 auto;
}
.theaterAreaMenu {
  	width: 100%;
  	height: 50px;
	display: table-cell;
	margin-top: 0;
  	list-style-type: none;
  	text-align: center;
}
.theaterArea {
	width: 120px;
	float: left;
	vertical-align: middle;
}
.theaterArea:hover .container-theaterSubMenu {
	display: block;
}
.theaterArea:hover .theaterBranchMenu {
	display: block;
}
.area {
	text-decoration: none;
	color: black;
}
.container-theaterSubMenu {
	width: 100%;	
	display: none;
	position: absolute;
	top: 50px;
	left: 20px;
}
.theaterSubMenu {
	width: 100%;
	margin: 0 auto;
}
.theaterBranchMenu {
  	width: 100%;
	display: none;
  	list-style-type: none;
}
.theaterBranch {
	display: flex;
	flex-flow: column;
	float: left;
	padding-right: 20px;
	vertical-align: middle;
}
.branch {
	text-decoration: none;
	color: black;
}

/* 영화관 정보 */
.theaterName {
	width: 1080px;
	height: 200px;
	margin: 0 auto;
	margin-top:50px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid;	
}
.theaterInfo {
	width: 1040px;
	height: 500px;
	margin: 0 auto;
	padding: 20px;
	vertical-align: middle;
	border: 1px solid;	
}
.container-showtime {
	width: 1080px;
	height: 500px;
	margin: 0 auto;
	border: 1px solid;	
}


/* MY(마이페이지) 메인&메뉴 */
.container-mypage {
	width: 1080px;
	height: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 270px 810px;
	border: 1px solid;
}
.container-mypageMenuBar {
	grid-column: 1;
	width: 245px;
	height: 800px;
	margin-top: 50px;
	margin-left: 25px;
	border: 1px solid;
}
.container-mypageContent {
	grid-column: 2;
	width: 810px;
	height: 1200px;
	margin-top: 50px;
}
.mypageMain {
	width: 245px;
	height: 70px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	border-radius: 4px;
	border: 1px solid;
	/*background-color: #EFE9FD;*/
}
.mypageMain a {
	text-decoration: none;
	font-size: 1.2em;
	font-weight: 500;
	color: #6a51ef;
}
.mypageMenuBar {
	width: 245px;
	margin-top: 5px;
	border-radius: 4px;
	border: 1px solid;
}
.mypageMenuBar td{
	text-decoration: none;
	color: black;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
	vertical-align: middle;
}
.mypageMenuBar td a{
	text-decoration: none;
	color: black;
	/* font-weight: 300; */
}
.myMenuName {
	font-size: 1.5em;
	font-weight: 600;
	margin: 10px;
	margin-left: 30px;
	margin-top: 15px;
}


/* MY 메인 - 회원 현황 안내 */
.mypageInfoTable {
	width: 760px;
	margin-left: 25px;
	border-collapse: collapse;
}
.mypageInfoTable td {
	padding: 10px;
	border: 1px solid;
}
.mypageInfoTable tr:nth-child(1) td {
	height: 100px;
	font-size: 2em;
	font-weight: 500;
	padding-left: 40px;
	vertical-align: bottom;
	border-bottom: 0px;
}
.mypageInfoTable tr:nth-child(2) td {
	height: 80px;
	font-size: 0.9em;
	padding-left: 50px;
	vertical-align: top;
	border-top: 0px;
}
.mypageInfoTable tr:nth-child(3) td {
	width: 33%;
	font-size: 1.1em;
	font-weight: 500;
	text-align: center;
	vertical-align: middle;
	border-bottom: 0px;
}
.mypageInfoTable tr:nth-child(4) td {
	text-align: center;
	vertical-align: middle;
	padding-top: 0px;
	border-top: 0px;
}
.mypageInfoTable tr:nth-child(4) td strong {
	font-size: 4em;
	font-weight: 300;
	padding-left: 20px;
}


/* MY 메인 - 예매내역/구매내역 */
.myReservationPurchase {
	width: 760px;
	margin-left: 25px;
	margin-top: 25px;
	border-collapse: collapse;
	border: 1px solid;
}
.myReservationPurchase td {
	padding: 10px;
}
.myReservationPurchase tr:nth-child(1) td:nth-child(1) {
	width: 90%;
	padding-left: 20px;
	font-size: 1.1em;
	font-weight: 500;
	vertical-align: middle;
}
.myReservationPurchase tr:nth-child(1) td:nth-child(2) {
	font-size: 0.9em;
	text-align: right;
	padding-right: 20px;
}
.myReservationPurchase tr:nth-child(1) td:nth-child(2) a {
	text-decoration: none;
	color: #000000;
}
.myReservationPurchase tr:nth-child(2) td {
	padding-top: 0px;
}
.myReservationPurchase tr:nth-child(3) {
	height: 120px;
}


/* MY 회원 정보 */
.myMemberInfo {
	width: 760px;
	margin-left: 25px;
	border-collapse: collapse;
}
.myMemberInfo td {
	padding: 7px;
	font-size: 0.9em;
}
.my-member-info-title {
	margin-top: 10px;
	font-size: 1.2em;
	font-weight: 500;
}
.myMemberInfo-tr1 td {
	padding-left: 15px;
	padding-right: 15px;
	border: 1px solid;
}
.myMemberInfo-tr1 td:nth-child(1) {
	width: 100px;
}
.myMemberInfo-tr2 td {
	border: 1px solid;
	text-align: center;
}
.myMemberInfo-tr2 td:nth-child() {
	width: 560px;
}







